/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2020, 16:33:06
    Author     : DSIC_jsoler
*/


.time-slot  {
    -fx-background-color: black, #fefcfd ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;
}

.time-slot-ocupado{
    -fx-background-color: black, #bfcde0;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;

}

.time-slot:selected {
    -fx-background-color: black, #95B46A;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot-user:selected {
    -fx-background-color: black, #95B46A;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot-ocupado:selected {
    -fx-background-color: black, #95B46A;
    -fx-background-insets: 0, 1 1 0 0 ;
}

.time-slot-user {
     -fx-background-color: black, #357266 ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;  
}


.date-picker > .text-field {
    -fx-text-fill: blue;
}
