.button-estilo {
  -fx-background-color: #0E3B43;
  -fx-background-radius: 20px;
  -fx-text-fill: #FEFCFD;
  -fx-font-weight: bold;
  -fx-border-radius: 20px;
  -fx-border-width: 2px;
  -fx-border-color: #357266;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.button-estilo:hover {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 3);
}

.vbox-estilo {
  -fx-background-color: #0E3B43;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
  -fx-background-insets: 0px;
}

.hbox-estilo {
  -fx-background-color: #0E3B43;
  -fx-background-radius: 10px;
  -fx-border-color: #357266;
  -fx-border-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.hbox-estilo:hover {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}
/* labels */

.label-estilo-res {
  -fx-text-fill: #FEFCFD;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.label-estilo-res:hover {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.label-estilo {
  -fx-text-fill: #FEFCFD;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.label-estilo:hover {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.label-error {
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 3)
}

.label-correcto {
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 3)
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2 , 0.0 , 0 , 1 );
    -fx-text-fill: #FEFCFD;
    -fx-font-weight: bold;
}

.menu-bar .menu {
    -fx-background-color: transparent;
}

.menu-bar .menu-item {
    -fx-text-fill: #FEFCFD;
    -fx-font-weight: bold;
    -fx-background-color: #0E3B43;
    -fx-padding: 5px;
    -fx-border-color: #357266;
    -fx-border-width: 1px;
}

.menu-bar .menu-item:hover {
    -fx-font-weight: bold;
    -fx-background-color: #0096c9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0, 0, 3);
}

.border-pane {
    -fx-background-color: #0E3B43;
    -fx-border-color: #357266;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1);
}

.list-view {
    -fx-background-color: #0E3B43;
    -fx-border-color: #357266;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 2, 0.0, 0, 1);
}

.list-view .list-cell {
    -fx-background-color:#BFCDE0;
    -fx-text-fill: black;
}

.list-view .list-cell:hover {
    -fx-background-color: #fefcfd;
}

.list-view .list-cell:selected {
    -fx-background-color: #95B46A; /* Cambia el color de fondo al seleccionar un elemento */
    -fx-text-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0, 0, 2);
}

.rounded-image {
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 H 100 V 100 H 0 Z";
    -fx-scale-shape: false;
}
